</head>
<body>
  <div class="container">
    <div class="row">
      <p style="color:#24135f; text-align: center; font-size: 4em;"><strong>Welcome to user support</strong></p>
    </div>
    <div class="row">
      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      <form method="post">
       
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Change my password"</button>
        
      </form>
      <a href='/' type=button>Cancel and GO back to home !</a>
    </div>
